CDRProcessor/writeFile.wsdl

<wsdl:definitions
     name="writeFile"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/Proj-Fusion/CDRProcessor/writeFile"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/Proj-Fusion/CDRProcessor/writeFile"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:FTPAPP="http://xmlns.oracle.com/pcbpel/adapter/ftp/"
     xmlns:imp1="http://TargetNamespace.com/writeFile"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="Put_plt" >
    <plt:role name="Put_role" >
      <plt:portType name="tns:Put_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/Proj-Fusion/CDRProcessor/writeFile"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/writeFile" schemaLocation="xsd/cdr_target.xsd" />
      </schema>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/" xmlns="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="qualified"
            elementFormDefault="qualified" >
       <element name="OutboundFTPHeaderType" >
         <complexType>
           <sequence>
             <element name="fileName" type="string" />
             <element name="directory" type="string" />
            </sequence>
           </complexType>
       </element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Put_msg">
        <wsdl:part name="body" element="imp1:CDR"/>
    </wsdl:message>
    <wsdl:message name="Output_msg">
        <wsdl:part name="body" element="FTPAPP:OutboundFTPHeaderType"/>
    </wsdl:message>
    <wsdl:portType name="Put_ptt">
        <wsdl:operation name="Put">
            <wsdl:input message="tns:Put_msg"/>
            <wsdl:output message="tns:Output_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
